<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="connection.url">jdbc:postgresql://localhost:5432/farm</property>
      <property name="connection.driver_class">org.postgresql.Driver</property>
      <!-- hibernate connection settings were moved into conf/hibernate.db.properties file. For example:
        hibernate.connection.driver_class = org.postgresql.Driver
        hibernate.connection.url = jdbc:postgresql://myhost:5432/farm
        hibernate.connection.username = mylogin
        hibernate.connection.password = mypwd
        hibernate.dialect = org.hibernate.dialect.PostgreSQL95Dialect
        hibernate.show_sql = true
       -->

    <!--  <mapping class="forDeleting.RefTerritoryEntityOldTemp"/>
      <mapping class="forDeleting.RefCityEntityOldTemp"/>-->
    <mapping class="models.references.CityEntity"/>
    <mapping class="models.references.TerritoryEntity"/>
      <mapping class="models.references.TypeCityEntity"/>
      <mapping class="models.references.ContragentEntity"/>
      <mapping class="models.references.MarketViewEntity"/>
      <mapping class="models.references.PriceEntity"/>
      <mapping class="models.references.TypeContragentEntity"/>
      <mapping class="models.references.ClassificationEntity"/>
      <mapping class="models.references.NomenklEntity"/>
      <mapping class="models.references.SizeEntity"/>
      <mapping class="models.references.KindContragentEntity"/>
    <mapping class="models.references.KindLotsEntity"/>
    <mapping class="models.references.LotsEntity"/>
    <mapping class="models.references.TypeLotsEntity"/>
      <mapping class="models.references.StorageEntity"/>
      <mapping class="models.documents.DocInvoiceHeadDocEntity"/>
      <mapping class="models.tables.TableInvoiceNomDocEntity"/>
    <mapping class="models.references.RefStatusInvoiceDocEntity"/>
      <mapping class="models.documents.DocDocsHeadDocEntity"/>
      <mapping class="models.tables.JournalOperationsStaffDocEntity"/>
      <mapping class="models.references.RefKindDocDocEntity"/>
      <mapping class="models.references.RefTypeDocDocEntity"/>
      <mapping class="models.references.RefTypeOperationsDocEntity"/>
      <mapping class="models.tables.TableCurrentRestStuffDocEntity"/>
      <mapping class="models.tables.TableDocsStuffDocEntity"/>


      <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>